
.porra{
	margin-left: 10%;
}


div#linha{
	border-bottom: 1.2px solid #000000;
	position: center;
	margin-left: 15%;
}

/*
body{
	background: url("shushii.jpg");
}

<<<<<<< HEAD
*/


*/

#ima{

	background-image: url(../../img/rest_fundo.jpg);
	background-size: 130%;
	background-repeat: no-repeat;
	background-attachment:	fixed;
}
