body{
	background-image: url("../../img/fundoLogin.jpg");
	background-repeat: repeat; 
	background-attachment:  fixed;"
}

#form_pesquisa{
	margin-left: 80%;
}
.card{
	margin-left: 30%;
	width: 40%;
	height: 50%;
	background-color: white;
}

#login-box {
	color: white;
	
	margin-left: 2%;
	margin-right: 90%;
}
#login-box img {
	border:none;
}
#login-box h2 {
	padding:0;
	margin:0;
	color: white;
}
#login-box-name {
	float: left;
	display:inline;
	width:80px;
	text-align: right;
	padding: 0px 10px 0 0;
	

}
#login-box-field {
	float: left;
	display:inline;
	width:230px;
	margin:0;
	margin:0 0 7px 0;
}
.form-login  {
	width: 205px;
	margin-left: 10%;
	padding: 10px 4px 6px 3px;
	border: 1px solid #0d2c52;
	font-size: 16px;
	color: black;
}

.login-box-options  {
	clear:both;
	padding-left:87px;
	font-size: 11px;
}
.login-box-options a {
	color: white;
	font-size: 11px;
}
#login-box-name{
	margin-top:20px;
	color: gray;
}
#login-box-field{
	margin-top:10px;
}

.bt-enviar{
	width: 103px;
	height:42px;
	margin:20px 90px;
	border:none;
}